sobey-projects/cmop-api/src/main/resources/wsdl/firewallSoapService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://firewall.generate.sobey.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="FirewallSoapService" targetNamespace="http://firewall.generate.sobey.com">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://firewall.generate.sobey.com" elementFormDefault="unqualified" targetNamespace="http://firewall.generate.sobey.com" version="1.0">

  <xs:element name="EIPParameter" type="tns:EIPParameter"/>

  <xs:element name="EIPPolicyParameter" type="tns:EIPPolicyParameter"/>

  <xs:element name="VPNUserParameter" type="tns:VPNUserParameter"/>

  <xs:element name="changeVPNUserAccesssAddressByFirewall" type="tns:changeVPNUserAccesssAddressByFirewall"/>

  <xs:element name="changeVPNUserAccesssAddressByFirewallResponse" type="tns:changeVPNUserAccesssAddressByFirewallResponse"/>

  <xs:element name="createEIPByFirewall" type="tns:createEIPByFirewall"/>

  <xs:element name="createEIPByFirewallResponse" type="tns:createEIPByFirewallResponse"/>

  <xs:element name="createVPNUserByFirewall" type="tns:createVPNUserByFirewall"/>

  <xs:element name="createVPNUserByFirewallResponse" type="tns:createVPNUserByFirewallResponse"/>

  <xs:element name="deleteEIPByFirewall" type="tns:deleteEIPByFirewall"/>

  <xs:element name="deleteEIPByFirewallResponse" type="tns:deleteEIPByFirewallResponse"/>

  <xs:element name="deleteVPNUserByFirewall" type="tns:deleteVPNUserByFirewall"/>

  <xs:element name="deleteVPNUserByFirewallResponse" type="tns:deleteVPNUserByFirewallResponse"/>

  <xs:complexType name="deleteVPNUserByFirewall">
    <xs:sequence>
      <xs:element minOccurs="0" name="vpnUserParameter" type="tns:VPNUserParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VPNUserParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="firewallPolicyId" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ipaddress" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="netMask" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="segments" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="vlanId" type="xs:int"/>
      <xs:element minOccurs="0" name="vpnPassword" type="xs:string"/>
      <xs:element minOccurs="0" name="vpnUser" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteVPNUserByFirewallResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WSResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createEIPByFirewall">
    <xs:sequence>
      <xs:element minOccurs="0" name="eipParameter" type="tns:EIPParameter"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="allPolicies" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EIPParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="internetIP" type="xs:string"/>
      <xs:element minOccurs="0" name="isp" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="policies" nillable="true" type="tns:EIPPolicyParameter"/>
      <xs:element minOccurs="0" name="privateIP" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EIPPolicyParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="protocolText" type="xs:string"/>
      <xs:element minOccurs="0" name="sourcePort" type="xs:int"/>
      <xs:element minOccurs="0" name="targetPort" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createEIPByFirewallResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteEIPByFirewall">
    <xs:sequence>
      <xs:element minOccurs="0" name="eipParameter" type="tns:EIPParameter"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="allPolicies" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteEIPByFirewallResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="changeVPNUserAccesssAddressByFirewall">
    <xs:sequence>
      <xs:element minOccurs="0" name="vpnUserParameter" type="tns:VPNUserParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="changeVPNUserAccesssAddressByFirewallResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createVPNUserByFirewall">
    <xs:sequence>
      <xs:element minOccurs="0" name="vpnUserParameter" type="tns:VPNUserParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createVPNUserByFirewallResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="createEIPByFirewallResponse">
    <wsdl:part element="tns:createEIPByFirewallResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeVPNUserAccesssAddressByFirewallResponse">
    <wsdl:part element="tns:changeVPNUserAccesssAddressByFirewallResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createVPNUserByFirewall">
    <wsdl:part element="tns:createVPNUserByFirewall" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteVPNUserByFirewall">
    <wsdl:part element="tns:deleteVPNUserByFirewall" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createEIPByFirewall">
    <wsdl:part element="tns:createEIPByFirewall" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeVPNUserAccesssAddressByFirewall">
    <wsdl:part element="tns:changeVPNUserAccesssAddressByFirewall" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteEIPByFirewallResponse">
    <wsdl:part element="tns:deleteEIPByFirewallResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteEIPByFirewall">
    <wsdl:part element="tns:deleteEIPByFirewall" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteVPNUserByFirewallResponse">
    <wsdl:part element="tns:deleteVPNUserByFirewallResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createVPNUserByFirewallResponse">
    <wsdl:part element="tns:createVPNUserByFirewallResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FirewallSoapService">
    <wsdl:operation name="deleteVPNUserByFirewall">
      <wsdl:input message="tns:deleteVPNUserByFirewall" name="deleteVPNUserByFirewall">
    </wsdl:input>
      <wsdl:output message="tns:deleteVPNUserByFirewallResponse" name="deleteVPNUserByFirewallResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createEIPByFirewall">
      <wsdl:input message="tns:createEIPByFirewall" name="createEIPByFirewall">
    </wsdl:input>
      <wsdl:output message="tns:createEIPByFirewallResponse" name="createEIPByFirewallResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEIPByFirewall">
      <wsdl:input message="tns:deleteEIPByFirewall" name="deleteEIPByFirewall">
    </wsdl:input>
      <wsdl:output message="tns:deleteEIPByFirewallResponse" name="deleteEIPByFirewallResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeVPNUserAccesssAddressByFirewall">
      <wsdl:input message="tns:changeVPNUserAccesssAddressByFirewall" name="changeVPNUserAccesssAddressByFirewall">
    </wsdl:input>
      <wsdl:output message="tns:changeVPNUserAccesssAddressByFirewallResponse" name="changeVPNUserAccesssAddressByFirewallResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createVPNUserByFirewall">
      <wsdl:input message="tns:createVPNUserByFirewall" name="createVPNUserByFirewall">
    </wsdl:input>
      <wsdl:output message="tns:createVPNUserByFirewallResponse" name="createVPNUserByFirewallResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FirewallSoapServiceSoapBinding" type="tns:FirewallSoapService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="deleteVPNUserByFirewall">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteVPNUserByFirewall">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteVPNUserByFirewallResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createEIPByFirewall">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createEIPByFirewall">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createEIPByFirewallResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEIPByFirewall">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteEIPByFirewall">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteEIPByFirewallResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeVPNUserAccesssAddressByFirewall">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="changeVPNUserAccesssAddressByFirewall">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="changeVPNUserAccesssAddressByFirewallResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createVPNUserByFirewall">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createVPNUserByFirewall">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createVPNUserByFirewallResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FirewallSoapService">
    <wsdl:port binding="tns:FirewallSoapServiceSoapBinding" name="FirewallSoapServiceImplPort">
      <soap:address location="http://localhost:8083/firewall/cxf/soap/firewallSoapService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>