sobey-projects/cmop-api/src/main/resources/wsdl/instanceSoapService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://instance.generate.sobey.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="InstanceSoapService" targetNamespace="http://instance.generate.sobey.com">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://instance.generate.sobey.com" elementFormDefault="unqualified" targetNamespace="http://instance.generate.sobey.com" version="1.0">

  <xs:element name="CloneVMParameter" type="tns:CloneVMParameter"/>

  <xs:element name="CreateVMDiskParameter" type="tns:CreateVMDiskParameter"/>

  <xs:element name="DeleteVMDiskParameter" type="tns:DeleteVMDiskParameter"/>

  <xs:element name="DestroyVMParameter" type="tns:DestroyVMParameter"/>

  <xs:element name="HostInfoDTO" type="tns:HostInfoDTO"/>

  <xs:element name="PowerVMParameter" type="tns:PowerVMParameter"/>

  <xs:element name="ReconfigVMParameter" type="tns:ReconfigVMParameter"/>

  <xs:element name="RelationVMParameter" type="tns:RelationVMParameter"/>

  <xs:element name="VMInfoDTO" type="tns:VMInfoDTO"/>

  <xs:element name="cloneVMByInstance" type="tns:cloneVMByInstance"/>

  <xs:element name="cloneVMByInstanceResponse" type="tns:cloneVMByInstanceResponse"/>

  <xs:element name="createES3ByInstance" type="tns:createES3ByInstance"/>

  <xs:element name="createES3ByInstanceResponse" type="tns:createES3ByInstanceResponse"/>

  <xs:element name="createPortGroupByInstance" type="tns:createPortGroupByInstance"/>

  <xs:element name="createPortGroupByInstanceResponse" type="tns:createPortGroupByInstanceResponse"/>

  <xs:element name="deleteES3ByInstance" type="tns:deleteES3ByInstance"/>

  <xs:element name="deleteES3ByInstanceResponse" type="tns:deleteES3ByInstanceResponse"/>

  <xs:element name="destroyVMByInstance" type="tns:destroyVMByInstance"/>

  <xs:element name="destroyVMByInstanceResponse" type="tns:destroyVMByInstanceResponse"/>

  <xs:element name="findHostInfoDTO" type="tns:findHostInfoDTO"/>

  <xs:element name="findHostInfoDTOResponse" type="tns:findHostInfoDTOResponse"/>

  <xs:element name="findVMInfoDTO" type="tns:findVMInfoDTO"/>

  <xs:element name="findVMInfoDTOResponse" type="tns:findVMInfoDTOResponse"/>

  <xs:element name="getHostInfoDTO" type="tns:getHostInfoDTO"/>

  <xs:element name="getHostInfoDTOResponse" type="tns:getHostInfoDTOResponse"/>

  <xs:element name="getVMAndHostRelationByInstance" type="tns:getVMAndHostRelationByInstance"/>

  <xs:element name="getVMAndHostRelationByInstanceResponse" type="tns:getVMAndHostRelationByInstanceResponse"/>

  <xs:element name="powerVMByInstance" type="tns:powerVMByInstance"/>

  <xs:element name="powerVMByInstanceResponse" type="tns:powerVMByInstanceResponse"/>

  <xs:element name="reconfigVMByInstance" type="tns:reconfigVMByInstance"/>

  <xs:element name="reconfigVMByInstanceResponse" type="tns:reconfigVMByInstanceResponse"/>

  <xs:complexType name="deleteES3ByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="deleteVMDiskParameter" type="tns:DeleteVMDiskParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DeleteVMDiskParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element minOccurs="0" name="diskName" type="xs:string"/>
      <xs:element minOccurs="0" name="diskSize" type="xs:string"/>
      <xs:element minOccurs="0" name="vmName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteES3ByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WSResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cloneVMByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="cloneVMParameter" type="tns:CloneVMParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CloneVMParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="gateway" type="xs:string"/>
      <xs:element minOccurs="0" name="ipaddress" type="xs:string"/>
      <xs:element minOccurs="0" name="subNetMask" type="xs:string"/>
      <xs:element minOccurs="0" name="vlanId" type="xs:int"/>
      <xs:element minOccurs="0" name="vMName" type="xs:string"/>
      <xs:element minOccurs="0" name="vMSUserName" type="xs:string"/>
      <xs:element minOccurs="0" name="vMTemplateName" type="xs:string"/>
      <xs:element minOccurs="0" name="vMTemplateOS" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cloneVMByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="destroyVMByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="destroyVMParameter" type="tns:DestroyVMParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DestroyVMParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element minOccurs="0" name="vMName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="destroyVMByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findHostInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="hostName" type="xs:string"/>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findHostInfoDTOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:DTOResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DTOResult">
    <xs:complexContent>
      <xs:extension base="tns:WSResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="dto" type="xs:anyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HostInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cpuHz" type="xs:string"/>
      <xs:element minOccurs="0" name="cpuNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="memorySize" type="xs:string"/>
      <xs:element minOccurs="0" name="model" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="resourcePool" type="xs:string"/>
      <xs:element minOccurs="0" name="vendor" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createES3ByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="createVMDiskParameter" type="tns:CreateVMDiskParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CreateVMDiskParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element minOccurs="0" name="diskName" type="xs:string"/>
      <xs:element minOccurs="0" name="diskSize" type="xs:string"/>
      <xs:element minOccurs="0" name="vmName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createES3ByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getHostInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getHostInfoDTOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:DTOListResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DTOListResult">
    <xs:complexContent>
      <xs:extension base="tns:WSResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="dtoList">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="dto" type="xs:anyType"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="powerVMByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="powerVMParameter" type="tns:PowerVMParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PowerVMParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element minOccurs="0" name="powerOperation" type="xs:string"/>
      <xs:element minOccurs="0" name="vMName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="powerVMByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findVMInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="vmName" type="xs:string"/>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findVMInfoDTOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:DTOResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VMInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cpuNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="datastore" type="xs:string"/>
      <xs:element minOccurs="0" name="diskSize" type="xs:string"/>
      <xs:element minOccurs="0" name="guestFullName" type="xs:string"/>
      <xs:element minOccurs="0" name="ipaddress" type="xs:string"/>
      <xs:element minOccurs="0" name="macIPaddress" type="xs:string"/>
      <xs:element minOccurs="0" name="memorySize" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="vlanName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createPortGroupByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="vlanId" type="xs:int"/>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createPortGroupByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reconfigVMByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="reconfigVMParameter" type="tns:ReconfigVMParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ReconfigVMParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element minOccurs="0" name="memoryMB" type="xs:long"/>
      <xs:element minOccurs="0" name="cPUNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="vMName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reconfigVMByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getVMAndHostRelationByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getVMAndHostRelationByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:RelationVMParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RelationVMParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element name="relationMaps">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string"/>
                  <xs:element minOccurs="0" name="value" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="cloneVMByInstanceResponse">
    <wsdl:part element="tns:cloneVMByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createES3ByInstanceResponse">
    <wsdl:part element="tns:createES3ByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="powerVMByInstance">
    <wsdl:part element="tns:powerVMByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createES3ByInstance">
    <wsdl:part element="tns:createES3ByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reconfigVMByInstanceResponse">
    <wsdl:part element="tns:reconfigVMByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findHostInfoDTOResponse">
    <wsdl:part element="tns:findHostInfoDTOResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cloneVMByInstance">
    <wsdl:part element="tns:cloneVMByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVMAndHostRelationByInstance">
    <wsdl:part element="tns:getVMAndHostRelationByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="powerVMByInstanceResponse">
    <wsdl:part element="tns:powerVMByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteES3ByInstanceResponse">
    <wsdl:part element="tns:deleteES3ByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVMAndHostRelationByInstanceResponse">
    <wsdl:part element="tns:getVMAndHostRelationByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findVMInfoDTOResponse">
    <wsdl:part element="tns:findVMInfoDTOResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPortGroupByInstance">
    <wsdl:part element="tns:createPortGroupByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="destroyVMByInstance">
    <wsdl:part element="tns:destroyVMByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findVMInfoDTO">
    <wsdl:part element="tns:findVMInfoDTO" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteES3ByInstance">
    <wsdl:part element="tns:deleteES3ByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHostInfoDTOResponse">
    <wsdl:part element="tns:getHostInfoDTOResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="destroyVMByInstanceResponse">
    <wsdl:part element="tns:destroyVMByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPortGroupByInstanceResponse">
    <wsdl:part element="tns:createPortGroupByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHostInfoDTO">
    <wsdl:part element="tns:getHostInfoDTO" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findHostInfoDTO">
    <wsdl:part element="tns:findHostInfoDTO" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reconfigVMByInstance">
    <wsdl:part element="tns:reconfigVMByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InstanceSoapService">
    <wsdl:operation name="deleteES3ByInstance">
      <wsdl:input message="tns:deleteES3ByInstance" name="deleteES3ByInstance">
    </wsdl:input>
      <wsdl:output message="tns:deleteES3ByInstanceResponse" name="deleteES3ByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cloneVMByInstance">
      <wsdl:input message="tns:cloneVMByInstance" name="cloneVMByInstance">
    </wsdl:input>
      <wsdl:output message="tns:cloneVMByInstanceResponse" name="cloneVMByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="destroyVMByInstance">
      <wsdl:input message="tns:destroyVMByInstance" name="destroyVMByInstance">
    </wsdl:input>
      <wsdl:output message="tns:destroyVMByInstanceResponse" name="destroyVMByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findHostInfoDTO">
      <wsdl:input message="tns:findHostInfoDTO" name="findHostInfoDTO">
    </wsdl:input>
      <wsdl:output message="tns:findHostInfoDTOResponse" name="findHostInfoDTOResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createES3ByInstance">
      <wsdl:input message="tns:createES3ByInstance" name="createES3ByInstance">
    </wsdl:input>
      <wsdl:output message="tns:createES3ByInstanceResponse" name="createES3ByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHostInfoDTO">
      <wsdl:input message="tns:getHostInfoDTO" name="getHostInfoDTO">
    </wsdl:input>
      <wsdl:output message="tns:getHostInfoDTOResponse" name="getHostInfoDTOResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="powerVMByInstance">
      <wsdl:input message="tns:powerVMByInstance" name="powerVMByInstance">
    </wsdl:input>
      <wsdl:output message="tns:powerVMByInstanceResponse" name="powerVMByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findVMInfoDTO">
      <wsdl:input message="tns:findVMInfoDTO" name="findVMInfoDTO">
    </wsdl:input>
      <wsdl:output message="tns:findVMInfoDTOResponse" name="findVMInfoDTOResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPortGroupByInstance">
      <wsdl:input message="tns:createPortGroupByInstance" name="createPortGroupByInstance">
    </wsdl:input>
      <wsdl:output message="tns:createPortGroupByInstanceResponse" name="createPortGroupByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reconfigVMByInstance">
      <wsdl:input message="tns:reconfigVMByInstance" name="reconfigVMByInstance">
    </wsdl:input>
      <wsdl:output message="tns:reconfigVMByInstanceResponse" name="reconfigVMByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVMAndHostRelationByInstance">
      <wsdl:input message="tns:getVMAndHostRelationByInstance" name="getVMAndHostRelationByInstance">
    </wsdl:input>
      <wsdl:output message="tns:getVMAndHostRelationByInstanceResponse" name="getVMAndHostRelationByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InstanceSoapServiceSoapBinding" type="tns:InstanceSoapService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cloneVMByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cloneVMByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cloneVMByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteES3ByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteES3ByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteES3ByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="destroyVMByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="destroyVMByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="destroyVMByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findHostInfoDTO">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findHostInfoDTO">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findHostInfoDTOResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createES3ByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createES3ByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createES3ByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHostInfoDTO">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getHostInfoDTO">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getHostInfoDTOResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPortGroupByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createPortGroupByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPortGroupByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findVMInfoDTO">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findVMInfoDTO">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findVMInfoDTOResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="powerVMByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="powerVMByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="powerVMByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reconfigVMByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="reconfigVMByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reconfigVMByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVMAndHostRelationByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getVMAndHostRelationByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVMAndHostRelationByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InstanceSoapService">
    <wsdl:port binding="tns:InstanceSoapServiceSoapBinding" name="InstanceSoapServiceImplPort">
      <soap:address location="http://localhost:8081/instance/cxf/soap/instanceSoapService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>