sobey-projects/cmop-api/src/main/resources/wsdl/instanceSoapService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://instance.generate.sobey.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="InstanceSoapService" targetNamespace="http://instance.generate.sobey.com">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://instance.generate.sobey.com" elementFormDefault="unqualified" targetNamespace="http://instance.generate.sobey.com" version="1.0">

  <xs:element name="BindingDVSPortGroupParameter" type="tns:BindingDVSPortGroupParameter"/>

  <xs:element name="BindingNetworkDevicePortGroupParameter" type="tns:BindingNetworkDevicePortGroupParameter"/>

  <xs:element name="BindingPortGroupParameter" type="tns:BindingPortGroupParameter"/>

  <xs:element name="CloneVMParameter" type="tns:CloneVMParameter"/>

  <xs:element name="CreatePortGroupParameter" type="tns:CreatePortGroupParameter"/>

  <xs:element name="CreateStandardSwitchParameter" type="tns:CreateStandardSwitchParameter"/>

  <xs:element name="DestroyVMParameter" type="tns:DestroyVMParameter"/>

  <xs:element name="HostInfoDTO" type="tns:HostInfoDTO"/>

  <xs:element name="PowerVMParameter" type="tns:PowerVMParameter"/>

  <xs:element name="ReconfigVMParameter" type="tns:ReconfigVMParameter"/>

  <xs:element name="RelationVMParameter" type="tns:RelationVMParameter"/>

  <xs:element name="VMDiskParameter" type="tns:VMDiskParameter"/>

  <xs:element name="VMInfoDTO" type="tns:VMInfoDTO"/>

  <xs:element name="bindingDVSPortGroupByInstance" type="tns:bindingDVSPortGroupByInstance"/>

  <xs:element name="bindingDVSPortGroupByInstanceResponse" type="tns:bindingDVSPortGroupByInstanceResponse"/>

  <xs:element name="bindingNetworkDevicePortGroupByInstance" type="tns:bindingNetworkDevicePortGroupByInstance"/>

  <xs:element name="bindingNetworkDevicePortGroupByInstanceResponse" type="tns:bindingNetworkDevicePortGroupByInstanceResponse"/>

  <xs:element name="bindingPortGroupByInstance" type="tns:bindingPortGroupByInstance"/>

  <xs:element name="bindingPortGroupByInstanceResponse" type="tns:bindingPortGroupByInstanceResponse"/>

  <xs:element name="cloneNetworkDeviceByInstance" type="tns:cloneNetworkDeviceByInstance"/>

  <xs:element name="cloneNetworkDeviceByInstanceResponse" type="tns:cloneNetworkDeviceByInstanceResponse"/>

  <xs:element name="cloneVMByInstance" type="tns:cloneVMByInstance"/>

  <xs:element name="cloneVMByInstanceResponse" type="tns:cloneVMByInstanceResponse"/>

  <xs:element name="createPortGroupByInstance" type="tns:createPortGroupByInstance"/>

  <xs:element name="createPortGroupByInstanceResponse" type="tns:createPortGroupByInstanceResponse"/>

  <xs:element name="createStandardSwitchByInstance" type="tns:createStandardSwitchByInstance"/>

  <xs:element name="createStandardSwitchByInstanceResponse" type="tns:createStandardSwitchByInstanceResponse"/>

  <xs:element name="createVMDiskByInstance" type="tns:createVMDiskByInstance"/>

  <xs:element name="createVMDiskByInstanceResponse" type="tns:createVMDiskByInstanceResponse"/>

  <xs:element name="deleteVMDiskByInstance" type="tns:deleteVMDiskByInstance"/>

  <xs:element name="deleteVMDiskByInstanceResponse" type="tns:deleteVMDiskByInstanceResponse"/>

  <xs:element name="destroyVMByInstance" type="tns:destroyVMByInstance"/>

  <xs:element name="destroyVMByInstanceResponse" type="tns:destroyVMByInstanceResponse"/>

  <xs:element name="findHostInfoDTO" type="tns:findHostInfoDTO"/>

  <xs:element name="findHostInfoDTOResponse" type="tns:findHostInfoDTOResponse"/>

  <xs:element name="findVMInfoDTO" type="tns:findVMInfoDTO"/>

  <xs:element name="findVMInfoDTOResponse" type="tns:findVMInfoDTOResponse"/>

  <xs:element name="getHostInfoDTO" type="tns:getHostInfoDTO"/>

  <xs:element name="getHostInfoDTOResponse" type="tns:getHostInfoDTOResponse"/>

  <xs:element name="getRelationByInstance" type="tns:getRelationByInstance"/>

  <xs:element name="getRelationByInstanceResponse" type="tns:getRelationByInstanceResponse"/>

  <xs:element name="powerVMByInstance" type="tns:powerVMByInstance"/>

  <xs:element name="powerVMByInstanceResponse" type="tns:powerVMByInstanceResponse"/>

  <xs:element name="reconfigVMByInstance" type="tns:reconfigVMByInstance"/>

  <xs:element name="reconfigVMByInstanceResponse" type="tns:reconfigVMByInstanceResponse"/>

  <xs:complexType name="createVMDiskByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="vmDiskParameter" type="tns:VMDiskParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VMDiskParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element minOccurs="0" name="diskGB" type="xs:string"/>
      <xs:element minOccurs="0" name="diskName" type="xs:string"/>
      <xs:element minOccurs="0" name="vmName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createVMDiskByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WSResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cloneVMByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="cloneVMParameter" type="tns:CloneVMParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CloneVMParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="gateway" type="xs:string"/>
      <xs:element minOccurs="0" name="hostId" type="xs:string"/>
      <xs:element minOccurs="0" name="ipaddress" type="xs:string"/>
      <xs:element minOccurs="0" name="resourcePool" type="xs:string"/>
      <xs:element minOccurs="0" name="subNetMask" type="xs:string"/>
      <xs:element minOccurs="0" name="vmName" type="xs:string"/>
      <xs:element minOccurs="0" name="vmTemplateName" type="xs:string"/>
      <xs:element minOccurs="0" name="vmTemplateOS" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cloneVMByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="destroyVMByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="destroyVMParameter" type="tns:DestroyVMParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DestroyVMParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element minOccurs="0" name="vmName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="destroyVMByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRelationByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRelationByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:RelationVMParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RelationVMParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element name="relationMaps">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string"/>
                  <xs:element minOccurs="0" name="value" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findHostInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="hostName" type="xs:string"/>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findHostInfoDTOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:DTOResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DTOResult">
    <xs:complexContent>
      <xs:extension base="tns:WSResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="dto" type="xs:anyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HostInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cpuHz" type="xs:string"/>
      <xs:element minOccurs="0" name="cpuNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="hostId" type="xs:string"/>
      <xs:element minOccurs="0" name="hostName" type="xs:string"/>
      <xs:element minOccurs="0" name="memoryMB" type="xs:string"/>
      <xs:element minOccurs="0" name="model" type="xs:string"/>
      <xs:element minOccurs="0" name="resourcePool" type="xs:string"/>
      <xs:element minOccurs="0" name="vendor" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getHostInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getHostInfoDTOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:DTOListResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DTOListResult">
    <xs:complexContent>
      <xs:extension base="tns:WSResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="dtoList">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="dto" type="xs:anyType"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="reconfigVMByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="reconfigVMParameter" type="tns:ReconfigVMParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ReconfigVMParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="cpuNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element minOccurs="0" name="memoryMB" type="xs:long"/>
      <xs:element minOccurs="0" name="vmName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reconfigVMByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createStandardSwitchByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="createStandardSwitchParameter" type="tns:CreateStandardSwitchParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CreateStandardSwitchParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element minOccurs="0" name="hostName" type="xs:string"/>
      <xs:element minOccurs="0" name="virtualSwitchName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createStandardSwitchByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bindingPortGroupByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="bindingPortGroupParameter" type="tns:BindingPortGroupParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BindingPortGroupParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element minOccurs="0" name="portGroupName" type="xs:string"/>
      <xs:element minOccurs="0" name="vmName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bindingPortGroupByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteVMDiskByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="vmDiskParameter" type="tns:VMDiskParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteVMDiskByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="powerVMByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="powerVMParameter" type="tns:PowerVMParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PowerVMParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element minOccurs="0" name="powerOperation" type="xs:string"/>
      <xs:element minOccurs="0" name="vmName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="powerVMByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findVMInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="vmName" type="xs:string"/>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findVMInfoDTOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:DTOResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VMInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cpuNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="datastore" type="xs:string"/>
      <xs:element minOccurs="0" name="diskGB" type="xs:string"/>
      <xs:element minOccurs="0" name="guestFullName" type="xs:string"/>
      <xs:element minOccurs="0" name="ipaddress" type="xs:string"/>
      <xs:element minOccurs="0" name="macIPaddress" type="xs:string"/>
      <xs:element minOccurs="0" name="memoryMB" type="xs:string"/>
      <xs:element minOccurs="0" name="portGroups" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="vmName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createPortGroupByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="createPortGroupParameter" type="tns:CreatePortGroupParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CreatePortGroupParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element minOccurs="0" name="hostName" type="xs:string"/>
      <xs:element minOccurs="0" name="portGroupName" type="xs:string"/>
      <xs:element minOccurs="0" name="virtualSwitchName" type="xs:string"/>
      <xs:element minOccurs="0" name="vlanId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createPortGroupByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bindingNetworkDevicePortGroupByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="bindingNetworkDevicePortGroupParameter" type="tns:BindingNetworkDevicePortGroupParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BindingNetworkDevicePortGroupParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element minOccurs="0" name="portGroupName" type="xs:string"/>
      <xs:element minOccurs="0" name="portIndex" type="xs:int"/>
      <xs:element minOccurs="0" name="vmName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bindingNetworkDevicePortGroupByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bindingDVSPortGroupByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="bindingDVSPortGroupParameter" type="tns:BindingDVSPortGroupParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BindingDVSPortGroupParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element minOccurs="0" name="portGroupName" type="xs:string"/>
      <xs:element minOccurs="0" name="portIndex" type="xs:int"/>
      <xs:element minOccurs="0" name="vmName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bindingDVSPortGroupByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cloneNetworkDeviceByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="cloneVMParameter" type="tns:CloneVMParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cloneNetworkDeviceByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="cloneVMByInstanceResponse">
    <wsdl:part element="tns:cloneVMByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="powerVMByInstance">
    <wsdl:part element="tns:powerVMByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reconfigVMByInstanceResponse">
    <wsdl:part element="tns:reconfigVMByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cloneVMByInstance">
    <wsdl:part element="tns:cloneVMByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bindingNetworkDevicePortGroupByInstance">
    <wsdl:part element="tns:bindingNetworkDevicePortGroupByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="powerVMByInstanceResponse">
    <wsdl:part element="tns:powerVMByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findVMInfoDTOResponse">
    <wsdl:part element="tns:findVMInfoDTOResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRelationByInstance">
    <wsdl:part element="tns:getRelationByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="destroyVMByInstance">
    <wsdl:part element="tns:destroyVMByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteVMDiskByInstance">
    <wsdl:part element="tns:deleteVMDiskByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bindingDVSPortGroupByInstance">
    <wsdl:part element="tns:bindingDVSPortGroupByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findVMInfoDTO">
    <wsdl:part element="tns:findVMInfoDTO" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bindingNetworkDevicePortGroupByInstanceResponse">
    <wsdl:part element="tns:bindingNetworkDevicePortGroupByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="destroyVMByInstanceResponse">
    <wsdl:part element="tns:destroyVMByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRelationByInstanceResponse">
    <wsdl:part element="tns:getRelationByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPortGroupByInstanceResponse">
    <wsdl:part element="tns:createPortGroupByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createStandardSwitchByInstance">
    <wsdl:part element="tns:createStandardSwitchByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cloneNetworkDeviceByInstanceResponse">
    <wsdl:part element="tns:cloneNetworkDeviceByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reconfigVMByInstance">
    <wsdl:part element="tns:reconfigVMByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bindingPortGroupByInstance">
    <wsdl:part element="tns:bindingPortGroupByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findHostInfoDTOResponse">
    <wsdl:part element="tns:findHostInfoDTOResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createStandardSwitchByInstanceResponse">
    <wsdl:part element="tns:createStandardSwitchByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bindingPortGroupByInstanceResponse">
    <wsdl:part element="tns:bindingPortGroupByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createVMDiskByInstance">
    <wsdl:part element="tns:createVMDiskByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bindingDVSPortGroupByInstanceResponse">
    <wsdl:part element="tns:bindingDVSPortGroupByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createVMDiskByInstanceResponse">
    <wsdl:part element="tns:createVMDiskByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPortGroupByInstance">
    <wsdl:part element="tns:createPortGroupByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHostInfoDTOResponse">
    <wsdl:part element="tns:getHostInfoDTOResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteVMDiskByInstanceResponse">
    <wsdl:part element="tns:deleteVMDiskByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHostInfoDTO">
    <wsdl:part element="tns:getHostInfoDTO" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findHostInfoDTO">
    <wsdl:part element="tns:findHostInfoDTO" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cloneNetworkDeviceByInstance">
    <wsdl:part element="tns:cloneNetworkDeviceByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InstanceSoapService">
    <wsdl:operation name="createVMDiskByInstance">
      <wsdl:input message="tns:createVMDiskByInstance" name="createVMDiskByInstance">
    </wsdl:input>
      <wsdl:output message="tns:createVMDiskByInstanceResponse" name="createVMDiskByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cloneVMByInstance">
      <wsdl:input message="tns:cloneVMByInstance" name="cloneVMByInstance">
    </wsdl:input>
      <wsdl:output message="tns:cloneVMByInstanceResponse" name="cloneVMByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="destroyVMByInstance">
      <wsdl:input message="tns:destroyVMByInstance" name="destroyVMByInstance">
    </wsdl:input>
      <wsdl:output message="tns:destroyVMByInstanceResponse" name="destroyVMByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelationByInstance">
      <wsdl:input message="tns:getRelationByInstance" name="getRelationByInstance">
    </wsdl:input>
      <wsdl:output message="tns:getRelationByInstanceResponse" name="getRelationByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findHostInfoDTO">
      <wsdl:input message="tns:findHostInfoDTO" name="findHostInfoDTO">
    </wsdl:input>
      <wsdl:output message="tns:findHostInfoDTOResponse" name="findHostInfoDTOResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHostInfoDTO">
      <wsdl:input message="tns:getHostInfoDTO" name="getHostInfoDTO">
    </wsdl:input>
      <wsdl:output message="tns:getHostInfoDTOResponse" name="getHostInfoDTOResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reconfigVMByInstance">
      <wsdl:input message="tns:reconfigVMByInstance" name="reconfigVMByInstance">
    </wsdl:input>
      <wsdl:output message="tns:reconfigVMByInstanceResponse" name="reconfigVMByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createStandardSwitchByInstance">
      <wsdl:input message="tns:createStandardSwitchByInstance" name="createStandardSwitchByInstance">
    </wsdl:input>
      <wsdl:output message="tns:createStandardSwitchByInstanceResponse" name="createStandardSwitchByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bindingPortGroupByInstance">
      <wsdl:input message="tns:bindingPortGroupByInstance" name="bindingPortGroupByInstance">
    </wsdl:input>
      <wsdl:output message="tns:bindingPortGroupByInstanceResponse" name="bindingPortGroupByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteVMDiskByInstance">
      <wsdl:input message="tns:deleteVMDiskByInstance" name="deleteVMDiskByInstance">
    </wsdl:input>
      <wsdl:output message="tns:deleteVMDiskByInstanceResponse" name="deleteVMDiskByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="powerVMByInstance">
      <wsdl:input message="tns:powerVMByInstance" name="powerVMByInstance">
    </wsdl:input>
      <wsdl:output message="tns:powerVMByInstanceResponse" name="powerVMByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findVMInfoDTO">
      <wsdl:input message="tns:findVMInfoDTO" name="findVMInfoDTO">
    </wsdl:input>
      <wsdl:output message="tns:findVMInfoDTOResponse" name="findVMInfoDTOResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPortGroupByInstance">
      <wsdl:input message="tns:createPortGroupByInstance" name="createPortGroupByInstance">
    </wsdl:input>
      <wsdl:output message="tns:createPortGroupByInstanceResponse" name="createPortGroupByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bindingNetworkDevicePortGroupByInstance">
      <wsdl:input message="tns:bindingNetworkDevicePortGroupByInstance" name="bindingNetworkDevicePortGroupByInstance">
    </wsdl:input>
      <wsdl:output message="tns:bindingNetworkDevicePortGroupByInstanceResponse" name="bindingNetworkDevicePortGroupByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bindingDVSPortGroupByInstance">
      <wsdl:input message="tns:bindingDVSPortGroupByInstance" name="bindingDVSPortGroupByInstance">
    </wsdl:input>
      <wsdl:output message="tns:bindingDVSPortGroupByInstanceResponse" name="bindingDVSPortGroupByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cloneNetworkDeviceByInstance">
      <wsdl:input message="tns:cloneNetworkDeviceByInstance" name="cloneNetworkDeviceByInstance">
    </wsdl:input>
      <wsdl:output message="tns:cloneNetworkDeviceByInstanceResponse" name="cloneNetworkDeviceByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InstanceSoapServiceSoapBinding" type="tns:InstanceSoapService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cloneVMByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cloneVMByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cloneVMByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createVMDiskByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createVMDiskByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createVMDiskByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="destroyVMByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="destroyVMByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="destroyVMByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findHostInfoDTO">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findHostInfoDTO">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findHostInfoDTOResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelationByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRelationByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRelationByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHostInfoDTO">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getHostInfoDTO">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getHostInfoDTOResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reconfigVMByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="reconfigVMByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reconfigVMByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bindingPortGroupByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="bindingPortGroupByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bindingPortGroupByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createStandardSwitchByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createStandardSwitchByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createStandardSwitchByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteVMDiskByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteVMDiskByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteVMDiskByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bindingDVSPortGroupByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="bindingDVSPortGroupByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bindingDVSPortGroupByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bindingNetworkDevicePortGroupByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="bindingNetworkDevicePortGroupByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bindingNetworkDevicePortGroupByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPortGroupByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createPortGroupByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPortGroupByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findVMInfoDTO">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findVMInfoDTO">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findVMInfoDTOResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="powerVMByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="powerVMByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="powerVMByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cloneNetworkDeviceByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cloneNetworkDeviceByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cloneNetworkDeviceByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InstanceSoapService">
    <wsdl:port binding="tns:InstanceSoapServiceSoapBinding" name="InstanceSoapServiceImplPort">
      <soap:address location="http://10.2.12.92:8081/instance/cxf/soap/instanceSoapService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>