sobey-projects/cmop-api/src/main/resources/wsdl/instanceSoapService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://instance.generate.sobey.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="InstanceSoapService" targetNamespace="http://instance.generate.sobey.com">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://instance.generate.sobey.com" elementFormDefault="unqualified" targetNamespace="http://instance.generate.sobey.com" version="1.0">

  <xs:element name="CloneVMParameter" type="tns:CloneVMParameter"/>

  <xs:element name="DestroyVMParameter" type="tns:DestroyVMParameter"/>

  <xs:element name="PowerVMParameter" type="tns:PowerVMParameter"/>

  <xs:element name="ReconfigVMParameter" type="tns:ReconfigVMParameter"/>

  <xs:element name="RelationVMParameter" type="tns:RelationVMParameter"/>

  <xs:element name="cloneVMByInstance" type="tns:cloneVMByInstance"/>

  <xs:element name="cloneVMByInstanceResponse" type="tns:cloneVMByInstanceResponse"/>

  <xs:element name="destroyVMByInstance" type="tns:destroyVMByInstance"/>

  <xs:element name="destroyVMByInstanceResponse" type="tns:destroyVMByInstanceResponse"/>

  <xs:element name="getVMAndHostRelationByInstance" type="tns:getVMAndHostRelationByInstance"/>

  <xs:element name="getVMAndHostRelationByInstanceResponse" type="tns:getVMAndHostRelationByInstanceResponse"/>

  <xs:element name="powerVMByInstance" type="tns:powerVMByInstance"/>

  <xs:element name="powerVMByInstanceResponse" type="tns:powerVMByInstanceResponse"/>

  <xs:element name="reconfigVMByInstance" type="tns:reconfigVMByInstance"/>

  <xs:element name="reconfigVMByInstanceResponse" type="tns:reconfigVMByInstanceResponse"/>

  <xs:complexType name="cloneVMByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="cloneVMParameter" type="tns:CloneVMParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CloneVMParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="gateway" type="xs:string"/>
      <xs:element minOccurs="0" name="ipaddress" type="xs:string"/>
      <xs:element minOccurs="0" name="subNetMask" type="xs:string"/>
      <xs:element minOccurs="0" name="vlanId" type="xs:int"/>
      <xs:element minOccurs="0" name="vMName" type="xs:string"/>
      <xs:element minOccurs="0" name="vMSUserName" type="xs:string"/>
      <xs:element minOccurs="0" name="vMTemplateName" type="xs:string"/>
      <xs:element minOccurs="0" name="vMTemplateOS" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cloneVMByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WSResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="destroyVMByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="destroyVMParameter" type="tns:DestroyVMParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DestroyVMParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element minOccurs="0" name="vMName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="destroyVMByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reconfigVMByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="reconfigVMParameter" type="tns:ReconfigVMParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ReconfigVMParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element minOccurs="0" name="memoryMB" type="xs:long"/>
      <xs:element minOccurs="0" name="cPUNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="vMName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reconfigVMByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="powerVMByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="powerVMParameter" type="tns:PowerVMParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PowerVMParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element minOccurs="0" name="powerOperation" type="xs:string"/>
      <xs:element minOccurs="0" name="vMName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="powerVMByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getVMAndHostRelationByInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getVMAndHostRelationByInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:RelationVMParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RelationVMParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" type="xs:string"/>
      <xs:element name="relationMaps">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string"/>
                  <xs:element minOccurs="0" name="value" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="destroyVMByInstance">
    <wsdl:part element="tns:destroyVMByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cloneVMByInstanceResponse">
    <wsdl:part element="tns:cloneVMByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="powerVMByInstance">
    <wsdl:part element="tns:powerVMByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reconfigVMByInstanceResponse">
    <wsdl:part element="tns:reconfigVMByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="destroyVMByInstanceResponse">
    <wsdl:part element="tns:destroyVMByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cloneVMByInstance">
    <wsdl:part element="tns:cloneVMByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVMAndHostRelationByInstance">
    <wsdl:part element="tns:getVMAndHostRelationByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="powerVMByInstanceResponse">
    <wsdl:part element="tns:powerVMByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reconfigVMByInstance">
    <wsdl:part element="tns:reconfigVMByInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVMAndHostRelationByInstanceResponse">
    <wsdl:part element="tns:getVMAndHostRelationByInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InstanceSoapService">
    <wsdl:operation name="cloneVMByInstance">
      <wsdl:input message="tns:cloneVMByInstance" name="cloneVMByInstance">
    </wsdl:input>
      <wsdl:output message="tns:cloneVMByInstanceResponse" name="cloneVMByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="destroyVMByInstance">
      <wsdl:input message="tns:destroyVMByInstance" name="destroyVMByInstance">
    </wsdl:input>
      <wsdl:output message="tns:destroyVMByInstanceResponse" name="destroyVMByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reconfigVMByInstance">
      <wsdl:input message="tns:reconfigVMByInstance" name="reconfigVMByInstance">
    </wsdl:input>
      <wsdl:output message="tns:reconfigVMByInstanceResponse" name="reconfigVMByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="powerVMByInstance">
      <wsdl:input message="tns:powerVMByInstance" name="powerVMByInstance">
    </wsdl:input>
      <wsdl:output message="tns:powerVMByInstanceResponse" name="powerVMByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVMAndHostRelationByInstance">
      <wsdl:input message="tns:getVMAndHostRelationByInstance" name="getVMAndHostRelationByInstance">
    </wsdl:input>
      <wsdl:output message="tns:getVMAndHostRelationByInstanceResponse" name="getVMAndHostRelationByInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InstanceSoapServiceSoapBinding" type="tns:InstanceSoapService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cloneVMByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cloneVMByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cloneVMByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="destroyVMByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="destroyVMByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="destroyVMByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reconfigVMByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="reconfigVMByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reconfigVMByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVMAndHostRelationByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getVMAndHostRelationByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVMAndHostRelationByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="powerVMByInstance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="powerVMByInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="powerVMByInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InstanceSoapService">
    <wsdl:port binding="tns:InstanceSoapServiceSoapBinding" name="InstanceSoapServiceImplPort">
      <soap:address location="http://localhost:8081/instance/cxf/soap/instanceSoapService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>