sobey-projects/cmop-api/src/main/resources/wsdl/loadbalancerSoapService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://loadbalancer.generate.sobey.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="LoadbalancerSoapService" targetNamespace="http://loadbalancer.generate.sobey.com">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://loadbalancer.generate.sobey.com" elementFormDefault="unqualified" targetNamespace="http://loadbalancer.generate.sobey.com" version="1.0">

  <xs:element name="ELBParameter" type="tns:ELBParameter"/>

  <xs:element name="ELBPolicyParameter" type="tns:ELBPolicyParameter"/>

  <xs:element name="ELBPublicIPParameter" type="tns:ELBPublicIPParameter"/>

  <xs:element name="ElbPolicySync" type="tns:ElbPolicySync"/>

  <xs:element name="ElbSync" type="tns:ElbSync"/>

  <xs:element name="createELBByLoadbalancer" type="tns:createELBByLoadbalancer"/>

  <xs:element name="createELBByLoadbalancerResponse" type="tns:createELBByLoadbalancerResponse"/>

  <xs:element name="deleteELBByLoadbalancer" type="tns:deleteELBByLoadbalancer"/>

  <xs:element name="deleteELBByLoadbalancerResponse" type="tns:deleteELBByLoadbalancerResponse"/>

  <xs:element name="getELBConfig" type="tns:getELBConfig"/>

  <xs:element name="getELBConfigResponse" type="tns:getELBConfigResponse"/>

  <xs:complexType name="createELBByLoadbalancer">
    <xs:sequence>
      <xs:element minOccurs="0" name="elbParameter" type="tns:ELBParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ELBParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="port" type="xs:int"/>
      <xs:element minOccurs="0" name="protocol" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="publicIPs" nillable="true" type="tns:ELBPublicIPParameter"/>
      <xs:element minOccurs="0" name="url" type="xs:string"/>
      <xs:element minOccurs="0" name="userName" type="xs:string"/>
      <xs:element minOccurs="0" name="vip" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ELBPublicIPParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="ipaddress" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="policyParameters" nillable="true" type="tns:ELBPolicyParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ELBPolicyParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="protocolText" type="xs:string"/>
      <xs:element minOccurs="0" name="sourcePort" type="xs:int"/>
      <xs:element minOccurs="0" name="targetPort" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createELBByLoadbalancerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WSResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getELBConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="elbParameter" type="tns:ELBParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getELBConfigResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:DTOListResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DTOListResult">
    <xs:complexContent>
      <xs:extension base="tns:WSResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="dtoList">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="dto" type="xs:anyType"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ElbSync">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="policySyncs" nillable="true" type="tns:ElbPolicySync"/>
      <xs:element minOccurs="0" name="vip" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ElbPolicySync">
    <xs:sequence>
      <xs:element minOccurs="0" name="elb" type="xs:string"/>
      <xs:element minOccurs="0" name="elbProtocol" type="xs:string"/>
      <xs:element minOccurs="0" name="ipaddress" type="xs:string"/>
      <xs:element minOccurs="0" name="sourcePort" type="xs:int"/>
      <xs:element minOccurs="0" name="targetPort" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteELBByLoadbalancer">
    <xs:sequence>
      <xs:element minOccurs="0" name="elbParameter" type="tns:ELBParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteELBByLoadbalancerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="createELBByLoadbalancer">
    <wsdl:part element="tns:createELBByLoadbalancer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteELBByLoadbalancer">
    <wsdl:part element="tns:deleteELBByLoadbalancer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getELBConfigResponse">
    <wsdl:part element="tns:getELBConfigResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getELBConfig">
    <wsdl:part element="tns:getELBConfig" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteELBByLoadbalancerResponse">
    <wsdl:part element="tns:deleteELBByLoadbalancerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createELBByLoadbalancerResponse">
    <wsdl:part element="tns:createELBByLoadbalancerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LoadbalancerSoapService">
    <wsdl:operation name="createELBByLoadbalancer">
      <wsdl:input message="tns:createELBByLoadbalancer" name="createELBByLoadbalancer">
    </wsdl:input>
      <wsdl:output message="tns:createELBByLoadbalancerResponse" name="createELBByLoadbalancerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getELBConfig">
      <wsdl:input message="tns:getELBConfig" name="getELBConfig">
    </wsdl:input>
      <wsdl:output message="tns:getELBConfigResponse" name="getELBConfigResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteELBByLoadbalancer">
      <wsdl:input message="tns:deleteELBByLoadbalancer" name="deleteELBByLoadbalancer">
    </wsdl:input>
      <wsdl:output message="tns:deleteELBByLoadbalancerResponse" name="deleteELBByLoadbalancerResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoadbalancerSoapServiceSoapBinding" type="tns:LoadbalancerSoapService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createELBByLoadbalancer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createELBByLoadbalancer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createELBByLoadbalancerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteELBByLoadbalancer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteELBByLoadbalancer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteELBByLoadbalancerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getELBConfig">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getELBConfig">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getELBConfigResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoadbalancerSoapService">
    <wsdl:port binding="tns:LoadbalancerSoapServiceSoapBinding" name="LoadbalancerSoapServiceImplPort">
      <soap:address location="http://10.2.12.91:8086/loadbalancer/cxf/soap/loadbalancerSoapService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>