sobey-projects/cmop-api/src/main/resources/wsdl/storageSoapService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://storage.generate.sobey.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="StorageSoapService" targetNamespace="http://storage.generate.sobey.com">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://storage.generate.sobey.com" elementFormDefault="unqualified" targetNamespace="http://storage.generate.sobey.com" version="1.0">

  <xs:element name="CreateEs3Parameter" type="tns:CreateEs3Parameter"/>

  <xs:element name="DeleteEs3Parameter" type="tns:DeleteEs3Parameter"/>

  <xs:element name="ModifytEs3RuleParameter" type="tns:ModifytEs3RuleParameter"/>

  <xs:element name="NetAppParameter" type="tns:NetAppParameter"/>

  <xs:element name="VolumeInfoDTO" type="tns:VolumeInfoDTO"/>

  <xs:element name="createEs3ByStorage" type="tns:createEs3ByStorage"/>

  <xs:element name="createEs3ByStorageResponse" type="tns:createEs3ByStorageResponse"/>

  <xs:element name="deleteEs3ByStorage" type="tns:deleteEs3ByStorage"/>

  <xs:element name="deleteEs3ByStorageResponse" type="tns:deleteEs3ByStorageResponse"/>

  <xs:element name="getVolumeInfoDTO" type="tns:getVolumeInfoDTO"/>

  <xs:element name="getVolumeInfoDTOResponse" type="tns:getVolumeInfoDTOResponse"/>

  <xs:element name="modifytEs3RuleParameterByStorage" type="tns:modifytEs3RuleParameterByStorage"/>

  <xs:element name="modifytEs3RuleParameterByStorageResponse" type="tns:modifytEs3RuleParameterByStorageResponse"/>

  <xs:complexType name="getVolumeInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="es3SizeParameter" type="tns:NetAppParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NetAppParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="controllerIP" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="volumeName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getVolumeInfoDTOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:DTOListResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DTOListResult">
    <xs:complexContent>
      <xs:extension base="tns:WSResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="dtoList">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="dto" type="xs:anyType"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="WSResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VolumeInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="availableSize" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="snapshotBlocksReservedSize" type="xs:string"/>
      <xs:element minOccurs="0" name="totalSize" type="xs:string"/>
      <xs:element minOccurs="0" name="usedSize" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifytEs3RuleParameterByStorage">
    <xs:sequence>
      <xs:element minOccurs="0" name="modifytEs3RuleParameter" type="tns:ModifytEs3RuleParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ModifytEs3RuleParameter">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="clientIPs" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="controllerIP" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="volumeName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifytEs3RuleParameterByStorageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteEs3ByStorage">
    <xs:sequence>
      <xs:element minOccurs="0" name="deleteEs3Parameter" type="tns:DeleteEs3Parameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DeleteEs3Parameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="controllerIP" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="volumeName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteEs3ByStorageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createEs3ByStorage">
    <xs:sequence>
      <xs:element minOccurs="0" name="createEs3Parameter" type="tns:CreateEs3Parameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CreateEs3Parameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="controllerIP" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="volumeName" type="xs:string"/>
      <xs:element minOccurs="0" name="volumeSize" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createEs3ByStorageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="deleteEs3ByStorage">
    <wsdl:part element="tns:deleteEs3ByStorage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVolumeInfoDTO">
    <wsdl:part element="tns:getVolumeInfoDTO" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createEs3ByStorageResponse">
    <wsdl:part element="tns:createEs3ByStorageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifytEs3RuleParameterByStorage">
    <wsdl:part element="tns:modifytEs3RuleParameterByStorage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVolumeInfoDTOResponse">
    <wsdl:part element="tns:getVolumeInfoDTOResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createEs3ByStorage">
    <wsdl:part element="tns:createEs3ByStorage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteEs3ByStorageResponse">
    <wsdl:part element="tns:deleteEs3ByStorageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifytEs3RuleParameterByStorageResponse">
    <wsdl:part element="tns:modifytEs3RuleParameterByStorageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="StorageSoapService">
    <wsdl:operation name="getVolumeInfoDTO">
      <wsdl:input message="tns:getVolumeInfoDTO" name="getVolumeInfoDTO">
    </wsdl:input>
      <wsdl:output message="tns:getVolumeInfoDTOResponse" name="getVolumeInfoDTOResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifytEs3RuleParameterByStorage">
      <wsdl:input message="tns:modifytEs3RuleParameterByStorage" name="modifytEs3RuleParameterByStorage">
    </wsdl:input>
      <wsdl:output message="tns:modifytEs3RuleParameterByStorageResponse" name="modifytEs3RuleParameterByStorageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEs3ByStorage">
      <wsdl:input message="tns:deleteEs3ByStorage" name="deleteEs3ByStorage">
    </wsdl:input>
      <wsdl:output message="tns:deleteEs3ByStorageResponse" name="deleteEs3ByStorageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createEs3ByStorage">
      <wsdl:input message="tns:createEs3ByStorage" name="createEs3ByStorage">
    </wsdl:input>
      <wsdl:output message="tns:createEs3ByStorageResponse" name="createEs3ByStorageResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StorageSoapServiceSoapBinding" type="tns:StorageSoapService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getVolumeInfoDTO">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getVolumeInfoDTO">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVolumeInfoDTOResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifytEs3RuleParameterByStorage">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="modifytEs3RuleParameterByStorage">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="modifytEs3RuleParameterByStorageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEs3ByStorage">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteEs3ByStorage">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteEs3ByStorageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createEs3ByStorage">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createEs3ByStorage">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createEs3ByStorageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StorageSoapService">
    <wsdl:port binding="tns:StorageSoapServiceSoapBinding" name="StorageSoapServiceImplPort">
      <soap:address location="http://localhost:8084/storage/cxf/soap/storageSoapService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>