sobey-projects/cmop-api/src/main/resources/wsdl/switchesSoapService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://switches.generate.sobey.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SwitchesSoapService" targetNamespace="http://switches.generate.sobey.com">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://switches.generate.sobey.com" elementFormDefault="unqualified" targetNamespace="http://switches.generate.sobey.com" version="1.0">

  <xs:element name="SwitchPolicyParameter" type="tns:SwitchPolicyParameter"/>

  <xs:element name="createPolicyInSwitch" type="tns:createPolicyInSwitch"/>

  <xs:element name="createPolicyInSwitchResponse" type="tns:createPolicyInSwitchResponse"/>

  <xs:complexType name="createPolicyInSwitch">
    <xs:sequence>
      <xs:element minOccurs="0" name="switchPolicyParameter" type="tns:SwitchPolicyParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SwitchPolicyParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="hostIp" type="xs:string"/>
      <xs:element minOccurs="0" name="vlanId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createPolicyInSwitchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WSResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="createPolicyInSwitchResponse">
    <wsdl:part element="tns:createPolicyInSwitchResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPolicyInSwitch">
    <wsdl:part element="tns:createPolicyInSwitch" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SwitchesSoapService">
    <wsdl:operation name="createPolicyInSwitch">
      <wsdl:input message="tns:createPolicyInSwitch" name="createPolicyInSwitch">
    </wsdl:input>
      <wsdl:output message="tns:createPolicyInSwitchResponse" name="createPolicyInSwitchResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SwitchesSoapServiceSoapBinding" type="tns:SwitchesSoapService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createPolicyInSwitch">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createPolicyInSwitch">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPolicyInSwitchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SwitchesSoapService">
    <wsdl:port binding="tns:SwitchesSoapServiceSoapBinding" name="SwitchesSoapServiceImplPort">
      <soap:address location="http://10.2.12.92:8082/switch/cxf/soap/switchesSoapService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>