sobey-projects/cmop-api/src/main/resources/wsdl/switchesSoapService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://switches.generate.sobey.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SwitchesSoapService" targetNamespace="http://switches.generate.sobey.com">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://switches.generate.sobey.com" elementFormDefault="unqualified" targetNamespace="http://switches.generate.sobey.com" version="1.0">

  <xs:element name="SwitchPolicyParameter" type="tns:SwitchPolicyParameter"/>

  <xs:element name="createMultipleSubnetPolicyBySwitch" type="tns:createMultipleSubnetPolicyBySwitch"/>

  <xs:element name="createMultipleSubnetPolicyBySwitchResponse" type="tns:createMultipleSubnetPolicyBySwitchResponse"/>

  <xs:element name="createSingleSubnetPolicyBySwitch" type="tns:createSingleSubnetPolicyBySwitch"/>

  <xs:element name="createSingleSubnetPolicyBySwitchResponse" type="tns:createSingleSubnetPolicyBySwitchResponse"/>

  <xs:complexType name="createSingleSubnetPolicyBySwitch">
    <xs:sequence>
      <xs:element minOccurs="0" name="switchPolicyParameter" type="tns:SwitchPolicyParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SwitchPolicyParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="hostIp" type="xs:string"/>
      <xs:element minOccurs="0" name="tunnelId" type="xs:int"/>
      <xs:element minOccurs="0" name="vlanId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createSingleSubnetPolicyBySwitchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WSResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createMultipleSubnetPolicyBySwitch">
    <xs:sequence>
      <xs:element minOccurs="0" name="switchPolicyParameter" type="tns:SwitchPolicyParameter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createMultipleSubnetPolicyBySwitchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:WSResult"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="createMultipleSubnetPolicyBySwitch">
    <wsdl:part element="tns:createMultipleSubnetPolicyBySwitch" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createSingleSubnetPolicyBySwitch">
    <wsdl:part element="tns:createSingleSubnetPolicyBySwitch" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createMultipleSubnetPolicyBySwitchResponse">
    <wsdl:part element="tns:createMultipleSubnetPolicyBySwitchResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createSingleSubnetPolicyBySwitchResponse">
    <wsdl:part element="tns:createSingleSubnetPolicyBySwitchResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SwitchesSoapService">
    <wsdl:operation name="createSingleSubnetPolicyBySwitch">
      <wsdl:input message="tns:createSingleSubnetPolicyBySwitch" name="createSingleSubnetPolicyBySwitch">
    </wsdl:input>
      <wsdl:output message="tns:createSingleSubnetPolicyBySwitchResponse" name="createSingleSubnetPolicyBySwitchResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createMultipleSubnetPolicyBySwitch">
      <wsdl:input message="tns:createMultipleSubnetPolicyBySwitch" name="createMultipleSubnetPolicyBySwitch">
    </wsdl:input>
      <wsdl:output message="tns:createMultipleSubnetPolicyBySwitchResponse" name="createMultipleSubnetPolicyBySwitchResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SwitchesSoapServiceSoapBinding" type="tns:SwitchesSoapService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createSingleSubnetPolicyBySwitch">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createSingleSubnetPolicyBySwitch">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createSingleSubnetPolicyBySwitchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createMultipleSubnetPolicyBySwitch">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createMultipleSubnetPolicyBySwitch">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createMultipleSubnetPolicyBySwitchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SwitchesSoapService">
    <wsdl:port binding="tns:SwitchesSoapServiceSoapBinding" name="SwitchesSoapServiceImplPort">
      <soap:address location="http://localhost:8082/switch/cxf/soap/switchesSoapService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>