sobey-projects/cmop-api/src/main/resources/wsdl/zabbixSoapService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://zabbix.generate.sobey.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ZabbixSoapService" targetNamespace="http://zabbix.generate.sobey.com">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://zabbix.generate.sobey.com" elementFormDefault="unqualified" targetNamespace="http://zabbix.generate.sobey.com" version="1.0">

  <xs:element name="ZHistoryItemDTO" type="tns:ZHistoryItemDTO"/>

  <xs:element name="ZItemDTO" type="tns:ZItemDTO"/>

  <xs:element name="deleleHost" type="tns:deleleHost"/>

  <xs:element name="deleleHostResponse" type="tns:deleleHostResponse"/>

  <xs:element name="getZHistoryItem" type="tns:getZHistoryItem"/>

  <xs:element name="getZHistoryItemResponse" type="tns:getZHistoryItemResponse"/>

  <xs:element name="getZItem" type="tns:getZItem"/>

  <xs:element name="getZItemResponse" type="tns:getZItemResponse"/>

  <xs:complexType name="getZItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getZItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ZItemDTO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ZItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="clock" type="xs:string"/>
      <xs:element minOccurs="0" name="itemid" type="xs:string"/>
      <xs:element minOccurs="0" name="units" type="xs:string"/>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getZHistoryItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getZHistoryItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ZHistoryItemDTO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ZHistoryItemDTO">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="zItemDTOs" nillable="true" type="tns:ZItemDTO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleleHost">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleleHostResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getZItemResponse">
    <wsdl:part element="tns:getZItemResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleleHost">
    <wsdl:part element="tns:deleleHost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getZHistoryItemResponse">
    <wsdl:part element="tns:getZHistoryItemResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getZItem">
    <wsdl:part element="tns:getZItem" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleleHostResponse">
    <wsdl:part element="tns:deleleHostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getZHistoryItem">
    <wsdl:part element="tns:getZHistoryItem" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ZabbixSoapService">
    <wsdl:operation name="getZItem">
      <wsdl:input message="tns:getZItem" name="getZItem">
    </wsdl:input>
      <wsdl:output message="tns:getZItemResponse" name="getZItemResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getZHistoryItem">
      <wsdl:input message="tns:getZHistoryItem" name="getZHistoryItem">
    </wsdl:input>
      <wsdl:output message="tns:getZHistoryItemResponse" name="getZHistoryItemResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleleHost">
      <wsdl:input message="tns:deleleHost" name="deleleHost">
    </wsdl:input>
      <wsdl:output message="tns:deleleHostResponse" name="deleleHostResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZabbixSoapServiceSoapBinding" type="tns:ZabbixSoapService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getZItem">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getZItem">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getZItemResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getZHistoryItem">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getZHistoryItem">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getZHistoryItemResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleleHost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleleHost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleleHostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZabbixSoapService">
    <wsdl:port binding="tns:ZabbixSoapServiceSoapBinding" name="ZabbixSoapServiceImplPort">
      <soap:address location="http://10.2.12.92:8087/zabbix/cxf/soap/zabbixSoapService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>