sobey-projects/cmop-api/src/main/resources/wsdl/zabbixSoapService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://zabbix.generate.sobey.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ZabbixSoapService" targetNamespace="http://zabbix.generate.sobey.com">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://zabbix.generate.sobey.com" elementFormDefault="unqualified" targetNamespace="http://zabbix.generate.sobey.com" version="1.0">

  <xs:element name="ZItemDTO" type="tns:ZItemDTO"/>

  <xs:element name="deleleHost" type="tns:deleleHost"/>

  <xs:element name="deleleHostResponse" type="tns:deleleHostResponse"/>

  <xs:element name="getZItem" type="tns:getZItem"/>

  <xs:element name="getZItemResponse" type="tns:getZItemResponse"/>

  <xs:complexType name="getZItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getZItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ZItemDTO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ZItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="authType" type="xs:string"/>
      <xs:element minOccurs="0" name="dataType" type="xs:string"/>
      <xs:element minOccurs="0" name="delay" type="xs:string"/>
      <xs:element minOccurs="0" name="delayflex" type="xs:string"/>
      <xs:element minOccurs="0" name="delta" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="error" type="xs:string"/>
      <xs:element minOccurs="0" name="filter" type="xs:string"/>
      <xs:element minOccurs="0" name="flags" type="xs:string"/>
      <xs:element minOccurs="0" name="formula" type="xs:string"/>
      <xs:element minOccurs="0" name="history" type="xs:string"/>
      <xs:element minOccurs="0" name="hostId" type="xs:string"/>
      <xs:element minOccurs="0" name="inventoryLink" type="xs:string"/>
      <xs:element minOccurs="0" name="itemId" type="xs:string"/>
      <xs:element minOccurs="0" name="key" type="xs:string"/>
      <xs:element minOccurs="0" name="lastValue" type="xs:string"/>
      <xs:element minOccurs="0" name="lastclock" type="xs:string"/>
      <xs:element minOccurs="0" name="lastlogSize" type="xs:string"/>
      <xs:element minOccurs="0" name="lastns" type="xs:string"/>
      <xs:element minOccurs="0" name="logTimefmt" type="xs:string"/>
      <xs:element minOccurs="0" name="multiplier" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="params" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="port" type="xs:string"/>
      <xs:element minOccurs="0" name="prevValue" type="xs:string"/>
      <xs:element minOccurs="0" name="prevorgValue" type="xs:string"/>
      <xs:element minOccurs="0" name="privateKey" type="xs:string"/>
      <xs:element minOccurs="0" name="publicKey" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="stringerfaceId" type="xs:string"/>
      <xs:element minOccurs="0" name="templateId" type="xs:string"/>
      <xs:element minOccurs="0" name="trapperHosts" type="xs:string"/>
      <xs:element minOccurs="0" name="trends" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="xs:string"/>
      <xs:element minOccurs="0" name="units" type="xs:string"/>
      <xs:element minOccurs="0" name="userName" type="xs:string"/>
      <xs:element minOccurs="0" name="valueMapId" type="xs:string"/>
      <xs:element minOccurs="0" name="valueType" type="xs:string"/>
      <xs:element minOccurs="0" name="mTime" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleleHost">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleleHostResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getZItemResponse">
    <wsdl:part element="tns:getZItemResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleleHost">
    <wsdl:part element="tns:deleleHost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getZItem">
    <wsdl:part element="tns:getZItem" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleleHostResponse">
    <wsdl:part element="tns:deleleHostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ZabbixSoapService">
    <wsdl:operation name="getZItem">
      <wsdl:input message="tns:getZItem" name="getZItem">
    </wsdl:input>
      <wsdl:output message="tns:getZItemResponse" name="getZItemResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleleHost">
      <wsdl:input message="tns:deleleHost" name="deleleHost">
    </wsdl:input>
      <wsdl:output message="tns:deleleHostResponse" name="deleleHostResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZabbixSoapServiceSoapBinding" type="tns:ZabbixSoapService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getZItem">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getZItem">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getZItemResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleleHost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleleHost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleleHostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZabbixSoapService">
    <wsdl:port binding="tns:ZabbixSoapServiceSoapBinding" name="ZabbixSoapServiceImplPort">
      <soap:address location="http://localhost:8087/zabbix/cxf/soap/zabbixSoapService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>